*
{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2
{
    color: #541d88;
}

h1
{
    font-weight: bolder;
}

h2
{
    background-color: aquamarine;
}

ol
{
    font-style: italic;
}

li
{
    font-weight: lighter;
    color: rgb(0, 47, 51);
}

